<?xml version="1.0"?>
<config>
    <modules>
        <Ifthenpay_Ifmb>
            <version>5.0.1</version>
        </Ifthenpay_Ifmb>
    </modules>
    <frontend>
		<routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Ifthenpay_Ifmb</module>
                 <frontName>multibanco</frontName>
              </args>
           </routeurfrontend>
       </routers>
		<translate>
            <modules>
                <Ifthenpay_Ifmb>
                    <files>
                        <default>Ifthenpay_Ifmb.csv</default>
                    </files>
                </Ifthenpay_Ifmb>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <Ifthenpay_Ifmb>
                    <files>
                        <default>Ifthenpay_Ifmb.csv</default>
                    </files>
                </Ifthenpay_Ifmb>
            </modules>
        </translate>
    </adminhtml>   
    <global>		
		<fieldsets>
			<sales_convert_quote_payment>
				<ifthenpay_entidade><to_order_payment>*</to_order_payment></ifthenpay_entidade>
                <ifthenpay_referencia><to_order_payment>*</to_order_payment></ifthenpay_referencia>
				<ifthenpay_montante><to_order_payment>*</to_order_payment></ifthenpay_montante>
			</sales_convert_quote_payment>
			
			<sales_convert_order_payment>
				<ifthenpay_entidade><to_quote_payment>*</to_quote_payment></ifthenpay_entidade>
                <ifthenpay_referencia><to_quote_payment>*</to_quote_payment></ifthenpay_referencia>
				<ifthenpay_montante><to_quote_payment>*</to_quote_payment></ifthenpay_montante>
			</sales_convert_order_payment>
		</fieldsets>
        <models>
            <ifmb>
                <class>Ifthenpay_Ifmb_Model</class>
                <resourceModel>ifmb_mysql4</resourceModel>
            </ifmb>
			<sales>
                <rewrite>
                    <convert_order>Ifthenpay_Ifmb_Model_Convert_Order</convert_order>
                    <convert_quote>Ifthenpay_Ifmb_Model_Convert_Quote</convert_quote>                    
                </rewrite>
            </sales>		
            <ifmb_mysql4>
                <class>Ifthenpay_Ifmb_Model_Mysql4</class>
                <entities>
                    <ifmb>
                        <table>ifmb</table>
                    </ifmb>
                </entities>
            </ifmb_mysql4>
        </models>
        <resources>
            <ifmb_setup>
                <setup>
                    <module>Ifthenpay_Ifmb</module>
					<class>Ifthenpay_Ifmb_Model_Mysql4_Setup</class>					
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ifmb_setup>
            <ifmb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ifmb_write>
            <ifmb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ifmb_read>
        </resources>
        <blocks>
            <ifmb>
                <class>Ifthenpay_Ifmb_Block</class>
          	</ifmb>
		<checkout>
			<rewrite>
				<onepage_success>Ifthenpay_Ifmb_Block_Checkout_Success</onepage_success>
			</rewrite>
		</checkout>
        </blocks>
        <helpers>
            <ifmb>
                <class>Ifthenpay_Ifmb_Helper</class>
            </ifmb>
        </helpers>
		<sales>
      		<order>
        		<statuses>
        			<aguarda_pagamento_multibanco translate="label"><label><![CDATA[MB - Aguarda Pagamento]]></label></aguarda_pagamento_multibanco>
        		</statuses>
        		<states>
          			<new>
            			<statuses>
              				<aguarda_pagamento_multibanco/>
            			</statuses>
          			</new>
        		</states>
      		</order>
    	</sales>
    </global>
	<default>		
        <payment>
            <ifmb>                
                <active>0</active>               
                <model>ifmb/gerarRef</model>          	
                <title>Multibanco</title>
				<sort_order>1</sort_order>
				<order_status>pending</order_status>
                <allowspecific>1</allowspecific>
                <specificcountry>PT</specificcountry>
				<entidade></entidade>
				<subentidade></subentidade>
				<mensagem>Pagamento por Multibanco</mensagem>
                <payment_action>order</payment_action>
				<active_callback>0</active_callback>
            </ifmb>
        </payment>
	</default> 
</config>